.main-div-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}
.logo-header {
  width: 40px;
  aspect-ratio: 1;
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 20px;
}
.sun-icon,
.moon-icon {
  height: 30px;
  aspect-ratio: 1;
  overflow: hidden;
}
.main-div-dark-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1e1e2f;
}

.form-login,
.form-login-dark {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.form-login input,
.form-login-dark input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-login input[type="submit"] {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
.form-login input[type="submit"]:hover {
  background-color: #0056b3;
}
.sun-icon,
.moon-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 70px;
  cursor: pointer;
}
.form-login span {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}
.form-login input[type="email"],
.form-login input[type="password"] {
  width: 100%;
  box-sizing: border-box;
}
.form-login input[type="email"] {
  background-color: #fff;
}
.form-login-dark {
  background-color: #2c2c3e;
  color: white;
}
.form-login-dark input {
  background-color: #3c3c4e;
  color: white;
  border: 1px solid #555;
}
.form-login-dark input[type="submit"] {
  background-color: #007bff;
  color: white;
}
.form-login-dark input[type="submit"]:hover {
  background-color: #0056b3;
}
.form-login-dark span {
  color: #ccc;
}
.form-login-dark input[type="email"],
.form-login-dark input[type="password"] {
  background-color: #3c3c4e;
  color: white;
  border: 1px solid #555;
}
.h {
  color: black;
  font-size: 40px;
  margin-bottom: 20px;
}
.h-dark {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .logo-header {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 20px;
  }
  .sun-icon,
  .moon-icon {
    width: 30px;
    height: 30px;
    top: 10px;
    position: absolute;
  }
}
