header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 30px;
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* full screen height */
    background-color: #f4f7fa;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
.main-div.dark {
    background-color: #2c3e50; /* dark background */
    color: #ecf0f1;
}
.sdiv {
    width: 100%;
}
.header-nav {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: auto;
}
.header-nav h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.icon {
    font-size: 30px;
    color: #2c3e50; /* icon color */
    margin-right: 10px;
}
.sun-icon {
    position: absolute;
    top: 10px;
    right: 30px;
    /* font-size: 50px; */
    color: #f39c12; /* sun color */
}
.moon-icon {
    position: absolute;
    top: 10px;
    right: 30px;
    /* font-size: 50px; */
    color: #2c3e50; /* moon color */
}
textarea {
    height: 100px;
    border-radius: 15px;
    border: 1px solid #ccc;
}
.fmain {
    display: flex;
    flex-direction: column;
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 100%;
}
.input-wrap {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: min(400px, 90%);
    margin: 0 auto;
}
.input-wrap label {
    color: #333;
    font-size: 14px;
}
.input-wrap input,
.input-wrap textarea {
    padding: 8px 20px !important;
    border: 1px solid #aaa;
    border-radius: 6px !important;
    width: 100%;

    &:focus {
        border-color: #007bff;
        outline: none;
    }
    &::placeholder {
        color: #aaa;
    }
}

.message-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: min(400px, 90%);
    margin: 15px auto;
    padding: 10px;
    font-size: 15px;
}

.message-positive {
    background-color: #d4edda;
    color: #155724;
}

.message-negative {
    background-color: #f8d7da;
    color: #721c24;
}

.message-neutral {
    background-color: #fff3cd;
    color: #856404;
}

.h1 {
    color: gainsboro;
    font-size: 40px;
}

.submit-btn {
    transition: 0.25s;
    border-bottom-width: 5px !important;
    background-color: #007bff !important ;
    border-color: #0359b6 !important;
    color: white;
    cursor: pointer;
    &:hover {
        background-color: #0056b3 !important;
        border-color: #064991 !important;
    }
    &:focus {
        border-bottom-width: 2px !important;
    }
}
.main-div.dark {
    background-color: #1e1e2f;
    .icon {
        font-size: 30px;
        color: #ecf0f1; /* icon color in dark mode */
        margin-right: 10px;
    }
    .input-wrap label {
        color: #ddd;
    }
    form {
        color: white;
    }
    & .input-wrap input,
    & .input-wrap textarea {
        background-color: #2c2c3e;
        background-color: #3c3c4e;
        color: white;
        border: 1px solid #555;
    }
}

@media (min-width: 768px) {
    header h1 {
        font-size: 3rem;
    }
    .main-div {
        padding: 20px;
    }

    .sun-icon,
    .moon-icon {
        top: 20px;
        right: 20px;
    }
}
