/* DashboardLayout.css */
:root {
    --sidebar-width: 230px;
}
.dashboard-layout {
    display: flex;
    min-height: 100dvh;
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    position: relative;
}
.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    position: relative;
    width: 100%;
    max-width: 100%;
}
.header {
    position: sticky;
    top: 0;
    background-color: var(--background);
    border-bottom: 1px solid var(--border);
    height: 50px;
    padding: 6px;
    display: flex;
    align-items: center !important;
    justify-content: space-between !important;
    flex-direction: row !important;

    .logo {
        height: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 50px;
    }
}
.content {
    width: 100%;
    max-width: 100%;
    /* BENTO styles */
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* 3 columns of equal flexible width */
    grid-template-areas:
        'title        title'
        'overview  overview'
        'f-trend    s-chart'
        'table        table';
    /* grid-template-rows: repeat(3, auto);  */
    grid-auto-rows: auto;
    gap: 15px;
    padding: 10px 20px;
    align-items: stretch; /* stretch all children to full row height */
    position: relative;
}
.bento {
    max-width: 100%;
    width: 100%;
}
.bento.title-container {
    grid-area: title;
}
.bento.overview {
    grid-area: overview;
}
.bento.feedback-trend {
    grid-area: f-trend;
}
.bento.sentiment-chart {
    grid-area: s-chart;
}
.bento.feedback-table {
    grid-area: table;
}
.hamburger {
    display: none;
    position: absolute;
    top: 1px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.sidebar, .sidebar * {
    z-index: 1000;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}
.title-container .title {
    font-weight: 700;
}

.link {
    color: red;
    position: relative;
    width: 100%;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
    padding: 10px;
}
.Dashboard-logout {
    padding: 10px;
    width: 200px;
    border-radius: 10px;
}
.Dashboard-logout:hover {
    background-color: wheat;
    cursor: pointer;
}
.btn-icon {
    display: none;
}


@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr; /* 1 column */
        grid-template-areas:
            'title'
            'overview'
            'f-trend'
            's-chart'
            'table';
    }
    .btn-icon {
        display: block;
        margin-top: 10px;
    }
    .navigation {
        background-color: white;
        height: max-content;
        border-radius: 20px;
        margin: 15px;
        position: fixed;
        width: calc(100% - 30px);
    }
    .hamburger-close {
        position: absolute;
        top: 10px;
        height: 70px;
        width: 50px;
        right: 0;
        z-index: 2000;
    }
    .hamburger {
        height: 70px;
        width: 50px;
        margin-top: 1px;
        display: block;
    }
    .h1 {
        color: black;
        font-size: 20px;
        margin-top: 35px;
        margin-left: 1px;
    }
}
